services:
  django:
    build: .
    container_name: django
    volumes:
      - media_data:/app/media
      - static_data:/app/staticfiles
      - gunicorn_socket:/run/gunicorn
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always

  nginx:
    image: nginx:1.28.0
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - media_data:/media
      - static_data:/staticfiles
      - gunicorn_socket:/run/gunicorn
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - django
    restart: always

  postgres:
    image: postgres:17.6
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always

volumes:
  media_data:
  static_data:
  postgres_data:
  gunicorn_socket:
