<div 
    class="z-50 fixed inset-0 flex justify-center items-center bg-black bg-opacity-30"
    x-show="delete_modal"
    x-transition.opacity.duration.500ms
    x-cloak
>
    <div
        class="bg-white max-sm:mx-6 rounded max-w-xl overflow-hidden"
        @mousedown.outside="delete_modal = false"
    >
        <div class="flex max-sm:flex-col max-sm:items-center gap-4 p-6">
            <div class="bg-red-100 p-2 rounded-full size-fit">
                <svg class="size-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
            </div>
            <div class="space-y-2 max-sm:text-center">
                <p class="font-semibold text-gray-800">{{ title }}</p>
                <p class="text-gray-500 text-sm">Tem certeza de que deseja prosseguir? Esses dados serão excluídos permanentemente e não poderão ser recuperados!</p>
            </div>
        </div>
        <div class="flex max-sm:flex-col-reverse justify-end items-center gap-4 bg-gray-100 px-6 py-4 border-t">
            <button
                class="bg-white hover:bg-gray-100 px-6 py-2 border rounded max-sm:w-full duration-300"
                @click="delete_modal = false"
            >
                <p class="font-medium text-gray-800 text-sm">Cancelar</p>
            </button>
            <button
                class="bg-red-600 hover:bg-red-400 px-6 py-2 rounded max-sm:w-full duration-300"
                @click="{{ href }}"
            >
                <p class="font-semibold text-white text-sm">Confirmar</p>
            </button>
        </div>
    </div>
</div>
