<div 
    class="z-50 fixed inset-0 flex justify-center items-center bg-black bg-opacity-30"
    x-show="delete_modal"
    x-transition.opacity.duration.500ms
    x-cloak
>
    <div
        class="max-w-xl rounded bg-white overflow-hidden max-sm:mx-6"
        @mousedown.outside="delete_modal = false"
    >
        <div class="flex max-sm:flex-col max-sm:items-center p-6 gap-4">
            <div class="rounded-full bg-red-100 p-2 size-fit">
                <svg class="text-red-600 size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
            </div>
            <div class="max-sm:text-center space-y-2">
                <p class="text-gray-800 font-semibold">{{ title }}</p>
                <p class="text-sm text-gray-500">Tem certeza de que deseja prosseguir? Esses dados serão excluídos permanentemente e não poderão ser recuperados!</p>
            </div>
        </div>
        <div class="flex max-sm:flex-col-reverse justify-end items-center border-t bg-gray-100 px-6 py-4 gap-4">
            <button
                class="max-sm:w-full border rounded bg-white hover:bg-gray-100 duration-300 px-6 py-2"
                @click="delete_modal = false"
            >
                <p class="text-sm text-gray-800 font-medium">Cancelar</p>
            </button>
            <button
                class="max-sm:w-full rounded bg-red-600 hover:bg-red-400 duration-300 px-6 py-2"
                @click="{{ href }}"
            >
                <p class="text-sm text-white font-semibold">Confirmar</p>
            </button>
        </div>
    </div>
</div>
