<div
    class="z-50 fixed inset-0 bg-black/50"
    x-show="{{ variable }}"
    @click="{{ variable }} = false"
    x-transition.opacity.duration.500ms
    x-cloak
>
</div>
<div
    :class="{ '-translate-x-72 sm:-translate-x-96': {{ variable }} }"
    class="top-0 -right-72 sm:-right-96 z-50 fixed space-y-6 bg-[#212121] p-6 border border-[#323232] w-72 sm:w-96 h-full duration-500"
>
    <div class="flex justify-between items-center">
        <p class="font-teko font-semibold text-white text-2xl text-center">{{ title }}</p>
        <button class="cursor-pointer" @click="{{ variable }} = false">
            <c-icon.x_mark class="size-5 text-white"></c-icon.x_mark>
        </button>
    </div>
    {{ slot }}
</div>
